<div>
	<!--Barre de recherche-->       
	Rechercher: <input ng-model="query">
	Trier par:
	<select ng-model="orderProp">
	    <option value="name">Par ordre alphabétique</option>
	    <option value="age">Le plus récent en premier</option>
	</select>
</div>

<div>
    <!--Body content-->

    <ul class="videos">
        <li ng-repeat="video in videos| filter:query | orderBy:orderProp" class="thumbnail">
            <div class="row">
                <div class="4u">
                    <section>
                        <div>
                            <div class="image-style1">
                                <a href="#/videos/{{video.id}}">
                                    <img width="140" ng-src="{{video.imageUrl}}">
                                </a>
                            </div>
                        </div>
                    </section>

                </div>
                <div class="8u">
                    <section id="content">
                        <a href="#/videos/{{video.id}}">{{video.name}}</a>
                        <p class="subtitle">{{video.snippet}}</p>
                    </section>     
                </div>
            </div>
        </li>
    </ul>

</div>