<div>
	Video detail
	
	<video src="../{{video.videoPath}}" width="720" controls>
	</video>
	<p class="lead">{{video.name}}</p>
	<p>{{video.duration}}</p>
	<p>{{video.viewCount}}</p>
	<p>{{video.uploadDate}}</p>
	
	<div id="loadingModal" class="modal hide fade in centering"
		role="dialog" aria-labelledby="deleteVideosModalLabel"
		aria-hidden="true">
		<div id="divLoadingIcon" class="text-center">
			<div class="icon-align-center loading"></div>
		</div>
	</div>
	
	<div
			ng-class="{'alert alert-block alert-error': state == 'error', 'none': state != 'error'}">
			<h4>
				<i class="icon-info-sign"></i>
				<spring:message code="error.generic.header" />
			</h4>
			<br />

			<p>
				<spring:message code="error.generic.text" />
			</p>
		</div>
</div>